/*************************
Properties
*************************/
.property-row {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-wrap: wrap;
    padding-top: 5px;
}
.property-caption {
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
}
.property-name {
	width: 150px;
    overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	padding-right: 10px;
  	font-weight: bold;
}
.property-value {
	width: 170px;
}
.stats-caption {
	margin: 20px 20px;
	font-weight: bold;
	font-size: 110%;
	text-decoration: underline;
	cursor: pointer;
	color:#1f77b4;
}
.stats-caption:hover {
	background: #1f77b4;
	color: white;
}
.stats {
	display: none;
}
.stats-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.stats-list-item {
	margin-right: 35px;
	width: 500px;
}
/*************************
Global
*************************/

.wrapper-stats {
    margin: auto 40px;
    max-width: 500px;
}
.wrapper-stats input {
	width: 90%;
}
.wrapper-stats button {
	width: 90%;
}
.error {
	color: crimson;
}
/*************************
Media Queries
*************************/
@media screen and (max-width: 800px) {
	.wrapper-stats {
		margin: auto;
	}
	.astro-item {
		margin-right: auto;
	}
}
